/* -----------------------------
スマホ最適化（幅800px以下から）
----------------------------- */
@media only screen and (max-width: 800px){
	#main {
		font-size: 95% !important;
	}
	body {
		overflow: hidden !important;
		font-size: 95% !important;
	}
	.site {
		width: auto !important;
		box-shadow: none !important;
    	-moz-box-shadow: none !important;
    	-webkit-box-shadow: none !important;
	}
	.entry-content {
		width: auto !important;
	}
	.site {
		padding: 0 !important;
	}
	.head-image {
		background-size: cover !important;
	}

	p {
		padding-left: 5px !important;
		padding-right: 5px !important;
	}

	.alignleft {
		float: none !important;
		display: block !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}
	.alignright {
		float: none !important;
		display: block !important;
		margin-left: auto !important;
		margin-right: auto !important;
	}

	img {
		max-width: 100% !important;
	}
	entry-content img.size-full {
		max-width: 90%;
	}
	img.wide {
		margin: 0 -5px !important;
		width: 100% !important;
		position: absolute !important;
	}



	.entry-content form{

	width: 100% !important;
		height: auto !important;

	}	
	
	.submit {
		width: auto !important;
	}


	.submit form dd {
		display: block;
	}

	.submit form input {
		font-size: 80% !important;
		margin: 0 !important;
	}

	.submit form input[type="text"] {
		margin: 0 !important;
	}

	.submit form input.fd01wide,
	.submit form input.fd02flat {
		margin: 20px auto !important;
	}

	.submit form dd input {/* フォームの入力欄装飾用 */
		height: 25px;
		padding: 6px 6px 4px;
	}

	.submit form .btn {
		width: 100% !important;
		margin: 5px 0 !important;
		font-size: 80% !important;
	}

	.submit form .btn input {
		display: inline-block;
	}

	.submit form dt {
		font-size: 80% !important;
		margin: 10px 15px 0 10px;
	}
	.submit form dd {
		text-align: center !important;
		padding-top: 5px;
	}

	@media only screen and (max-width: 767px){
		.submit form input {
			width: 90% !important;
		}

		.submit form dt,
		.submit form dd {
			float: none !important;
		}

		table.head-w,
		table.head-b {
			height: auto !important;
		}

		.entry-header .entry-title {
			font-size: 26px;
		}
	}

	table.head-w {
		height: none !important;
	}
	table.head-w,
	table.head-b {
		width: 100% !important;
		background-size: cover !important;
		border-collapse: separate !important;
		font-size: 100% !important;
		margin: 0 auto !important;
		padding : 20px 0;
	}
	table.head-w span,
	table.head-b span {
		font-size: 200% !important;
	}
	table.head-w span span,
	table.head-b span span {
		font-size: 100% !important;
	}


	table.obi,
	table.obi-b,
	table.tape{
		background-size: cover !important;
	}

	@media only screen and (max-width: 600px){
		table.obi,
		table.obi-b,
		table.tape {
			height: 93px !important;
		}
	}

	table.obi,
	table.obi-b,
	table.tape {
		width: 100% !important;
		font-size: 120% !important;
		margin: 0 auto !important;
	}
	table.obi span,
	table.obi-b span,
	table.tape span {
		font-size: 100% !important;
	}
	table.wide {
		width: 100% !important;
		margin: 0 !important;
		padding:0 !important;
	}
	table.wide p {
		padding-left: 10px !important;
	}

	table.wide td{
		padding:0;
	}

	@media only screen and (min-width: 768px){
		table.obi,
		table.obi-b,
		table.tape {
			font-size: 200% !important;
		}

		table.head-w,
		table.head-b {
			font-size: 180% !important;
		}
	}


	.submit,
	.shikaku,
	.marukaku,
	.pressed,
	.tableshadow {
		width: 90% !important;
		margin: 0 auto !important;
	}

	.shikaku form input,
	.marukaku form input,
	.pressed form input,
	.tableshadow form input {
		width: 90% !important;
		font-size: 80% !important;
	}

	.shikaku form .input,
	.marukaku form .input,
	.pressed form .input,
	.tableshadow form .input {
		margin-bottom: 10px;
	}

	.shikaku form select,
	.marukaku form select,
	.pressed form select,
	.tableshadow form select {
		width: 90% !important;
		font-size: 100% !important;
	}


	.btn-custom-sma,
	input[type="submit"].btn-custom-sma,
	.btn-custom-3d-sma,
	input[type="submit"].btn-custom-3d-sma,
	.btn-blue-sma,
	input[type="submit"].btn-blue-sma,
	.btn-blue-3d-sma,
	input[type="submit"].btn-blue-3d-sma,
	.btn-red-sma,
	input[type="submit"].btn-red-sma,
	.btn-red-3d-sma,
	input[type="submit"].btn-red-3d-sma,
	.btn-green-sma,
	input[type="submit"].btn-green-sma,
	.btn-green-3d-sma,
	input[type="submit"].btn-green-3d-sma,
	.btn-purple-sma,
	input[type="submit"].btn-purple-sma,
	.btn-purple-3d-sma,
	input[type="submit"].btn-purple-3d-sma,
	.btn-gray-sma,
	input[type="submit"].btn-gray-sma,
	.btn-gray-3d-sma,
	input[type="submit"].btn-gray-3d-sma {
		width: 90% !important;
		font-size: 110% !important;
	}

	.btn-gelatin-blue,
	input[type="submit"].btn-gelatin-blue,
	.btn-gelatin-red,
	input[type="submit"].btn-gelatin-red,
	.btn-gelatin-green,
	input[type="submit"].btn-gelatin-green,
	.btn-gelatin-purple,
	input[type="submit"].btn-gelatin-purple,
	.btn-gelatin-gray,
	input[type="submit"].btn-gelatin-gray,
	.btn-skewlr-blue,
	input[type="submit"].btn-skewlr-blue,
	.btn-skewlr-red,
	input[type="submit"].btn-skewlr-red,
	.btn-skewlr-green,
	input[type="submit"].btn-skewlr-green,
	.btn-skewlr-purple,
	input[type="submit"].btn-skewlr-purple,
	.btn-skewlr-gray,
	input[type="submit"].btn-skewlr-gray,
	.btn-custom,
	input[type="submit"].btn-custom,
	.btn-custom-3d,
	input[type="submit"].btn-custom-3d,
	.btn-blue,
	input[type="submit"].btn-blue,
	.btn-blue-3d,
	input[type="submit"].btn-blue-3d,
	.btn-red,
	input[type="submit"].btn-red,
	.btn-red-3d,
	input[type="submit"].btn-red-3d,
	.btn-green,
	input[type="submit"].btn-green,
	.btn-green-3d,
	input[type="submit"].btn-green-3d,
	.btn-purple,
	input[type="submit"].btn-purple,
	.btn-purple-3d,
	input[type="submit"].btn-purple-3d,
	.btn-gray,
	input[type="submit"].btn-gray,
	.btn-gray-3d,
	input[type="submit"].btn-gray-3d {
		width: 90% !important;
		font-size: 16px !important;
		/* font-size: 110% !important; */
	}

	.navbar {
		margin-bottom: 45px !important;
	}
	.navbar .navbar-inner {
		height: 40px !important;
	}
	.navbar-nofix .navbar-inner {
		height: auto !important;
	}
	.navbar .brand {
		font-size: 100% !important;
	}

	dl.pub_form input {
		width: 100% !important;
		height:25px;
		padding:6px 6px 4px;
	}

	.absolute {
		position: relative !important;
	}

	.content-width {
		width: auto !important;
	}

	nav.fixed_menu1,
	nav.fixed_menu2,
	nav.fixed_menu3,
	nav.fixed_menu4,
	nav.fixed_menu5,
	nav.fixed_menu6 {
		height: auto;
		min-height: 60px;
		max-height: 100%;
		overflow-y: auto;
	}
	nav.fixed_menu1 ul,
	nav.fixed_menu2 ul,
	nav.fixed_menu3 ul,
	nav.fixed_menu4 ul,
	nav.fixed_menu5 ul,
	nav.fixed_menu6 ul {
		width: 100%;
		height: auto;
		padding-top: 50px;
	}
	nav.fixed_menu1 ul li,
	nav.fixed_menu2 ul li,
	nav.fixed_menu3 ul li,
	nav.fixed_menu4 ul li,
	nav.fixed_menu5 ul li,
	nav.fixed_menu6 ul li {
		display: block !important;
		padding: 20px 0;
	}
	nav.fixed_menu1 > ul > li {
		background-color: #333;
	}
	nav.fixed_menu2 > ul > li {
		background-color: #eee;
	}
	nav.fixed_menu3 > ul {
		background: rgb(244,67,54); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2Y0NDMzNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjYzJlMmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, rgba(244,67,54,1) 1%, rgba(204,46,46,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(244,67,54,1)), color-stop(100%,rgba(204,46,46,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(244,67,54,1) 1%,rgba(204,46,46,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(244,67,54,1) 1%,rgba(204,46,46,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(244,67,54,1) 1%,rgba(204,46,46,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(244,67,54,1) 1%,rgba(204,46,46,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f44336', endColorstr='#cc2e2e',GradientType=0 ); /* IE6-8 */
	}
	nav.fixed_menu4 > ul {
		background: rgb(239,91,135); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmNWI4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOTFlNjMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(239,91,135,1) 0%, rgba(233,30,99,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,91,135,1)), color-stop(100%,rgba(233,30,99,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(239,91,135,1) 0%,rgba(233,30,99,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(239,91,135,1) 0%,rgba(233,30,99,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(239,91,135,1) 0%,rgba(233,30,99,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(239,91,135,1) 0%,rgba(233,30,99,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef5b87', endColorstr='#e91e63',GradientType=0 ); /* IE6-8 */
	}
	nav.fixed_menu5 > ul {
		background: rgb(33,150,243); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxOTZmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0Mjg3YmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(33,150,243,1) 0%, rgba(66,135,191,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(33,150,243,1)), color-stop(100%,rgba(66,135,191,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(33,150,243,1) 0%,rgba(66,135,191,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(33,150,243,1) 0%,rgba(66,135,191,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(33,150,243,1) 0%,rgba(66,135,191,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(33,150,243,1) 0%,rgba(66,135,191,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2196f3', endColorstr='#4287bf',GradientType=0 ); /* IE6-8 */
	}
	nav.fixed_menu6 > ul {
		background: rgb(0,188,212); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYmNkNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMGEzYjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(0,188,212,1) 0%, rgba(48,163,178,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,188,212,1)), color-stop(100%,rgba(48,163,178,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(0,188,212,1) 0%,rgba(48,163,178,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(0,188,212,1) 0%,rgba(48,163,178,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(0,188,212,1) 0%,rgba(48,163,178,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(0,188,212,1) 0%,rgba(48,163,178,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00bcd4', endColorstr='#30a3b2',GradientType=0 ); /* IE6-8 */
	}

	nav.fixed_menu1 ul li:first-child:before,
	nav.fixed_menu2 ul li:first-child:before,
	nav.fixed_menu3 ul li:first-child:before,
	nav.fixed_menu4 ul li:first-child:before,
	nav.fixed_menu5 ul li:first-child:before,
	nav.fixed_menu6 ul li:first-child:before {
		border: none;
	}
	nav.fixed_menu1 ul li:after,
	nav.fixed_menu2 ul li:after,
	nav.fixed_menu3 ul li:after,
	nav.fixed_menu4 ul li:after,
	nav.fixed_menu5 ul li:after,
	nav.fixed_menu6 ul li:after {
		border: none;
	}

	nav.fixed_menu1 > ul > li > .sub-menu,
	nav.fixed_menu2 > ul > li > .sub-menu,
	nav.fixed_menu3 > ul > li > .sub-menu,
	nav.fixed_menu4 > ul > li > .sub-menu,
	nav.fixed_menu5 > ul > li > .sub-menu,
	nav.fixed_menu6 > ul > li > .sub-menu {
		background: rgba(255, 255, 255, 0.2);
		margin-top: 10px;
		padding-top: 0;
		padding-bottom: 20px;
		position: relative;
		top: 0;
		width: 100%;
	}

	nav.fixed_menu2 > ul > li > .sub-menu {
		background: rgba(0, 0, 0, 0.2);
	}

	nav.fixed_menu1 > ul > li > .sub-menu li,
	nav.fixed_menu2 > ul > li > .sub-menu li,
	nav.fixed_menu3 > ul > li > .sub-menu li,
	nav.fixed_menu4 > ul > li > .sub-menu li,
	nav.fixed_menu5 > ul > li > .sub-menu li,
	nav.fixed_menu6 > ul > li > .sub-menu li {
		padding: 20px 0;
		text-align: center;
	}

	nav.fixed_menu1 > ul > li > .sub-menu li:last-child,
	nav.fixed_menu2 > ul > li > .sub-menu li:last-child,
	nav.fixed_menu3 > ul > li > .sub-menu li:last-child,
	nav.fixed_menu4 > ul > li > .sub-menu li:last-child,
	nav.fixed_menu5 > ul > li > .sub-menu li:last-child,
	nav.fixed_menu6 > ul > li > .sub-menu li:last-child {
		padding: 20px 0 0;
	}

	.youtube {
		position: relative;
		width: 100%;
		padding-top: 56.25%;
	}
	.youtube iframe {
		position: absolute;
		top: 0;
		right: 0;
		width: 100% !important;
		height: 100% !important;
	}

	.btn-gelatin-blue,
	.btn-gelatin-red,
	.btn-gelatin-green,
	.btn-gelatin-purple,
	.btn-gelatin-gray,
	.btn-skewlr-blue,
	.btn-skewlr-red,
	.btn-skewlr-green,
	.btn-skewlr-purple,
	.btn-skewlr-gray,
	.btn-custom,
	.btn-blue,
	.btn-red,
	.btn-green,
	.btn-purple,
	.btn-gray,
	.btn-blue-3d,
	.btn-red-3d,
	.btn-green-3d,
	.btn-purple-3d,
	.btn-gray-3d {
		padding: 10px 0 !important;
	}

	.btn-custom-3d {
		padding: 10px 0  16px !important;
	}

	.btn-footer img {
		height: auto;
		width: 100%;
	}

	.btn-skewlr-blue:hover:after,
	.btn-skewlr-red:hover:after,
	.btn-skewlr-green:hover:after,
	.btn-skewlr-purple:hover:after,
	.btn-skewlr-gray:hover:after{
		left: -10%;
		width: 0;
	}

	.flip-clock-wrapper {
		margin: 0;
		padding-top: 10px;
	}
	.flip-clock-wrapper ul {
		margin: 2px;
		height: 45px;
		width: 30px;
	}
	.flip-clock-wrapper ul li {
		line-height: 43px;
	}
	.flip-clock-wrapper ul li a div {
		font-size: 40px;
	}
	.flip-clock-wrapper ul li a div div.inn {
		font-size: 35px;
	}
	.flip-clock-divider {
		height: 50px;
		width: 10px;
	}
	.flip-clock-dot {
		left: 3px;
		height: 5px;
		width: 5px;
	}
	.flip-clock-dot.top {
		top: 18px;
	}
	.flip-clock-dot.bottom {
		bottom: 12px;
	}
	.flip-clock-divider .flip-clock-label {
		right: -46px;
	}
	.flip-clock-divider.minutes .flip-clock-label {
		right: -52px;
	}
	.flip-clock-divider.seconds .flip-clock-label {
		right: -55px;
	}

	#primary.two-column {
		float: none !important;
		width: 100%;
	}

	#secondary {
		float: none !important;
		width: 100%;
	}

	#primary .col2,
	#primary .col3,
	#header .widget-area,
	#footer .widget-area {
		float: none;
		margin: 0 !important;
		width: auto;
	}

	#footer.widget-template {
		padding: 30px;
	}

	.full-width-image p img {
		margin: 0 -5px;
		max-width: 100vw !important;
	}

	/* カード型記事一覧 */
	.site-content article.card-type {
		float: none !important;
		margin: 20px !important;
		width: auto !important;
	}
}
